.button{
    padding: .5rem 1rem;
    background-color: #56abe4;
    border-radius: .5rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
    min-height: 2.5rem;

    &:hover{
        filter: brightness(.8);
    }

    &.secondary{
        background-color: #fff;
        border: 2px solid #56abe4;
    }
}