.text{
    font-size: .8rem;
    font-weight: 500;

    &.small{
        font-size: .8rem;
    }
    &.medium{
        font-size: 1rem;
    }
    &.large{
        font-size: 1.2rem;
    }
    &.bold{
        font-weight: 600;
    }
    &.dark{
        color: #383434;
    }
    &.light{
        color: #fff;
    }
    &.primary{
        color: #56abe4;
    }
}