.text{
    font-size: .8rem;
    font-weight: 500;

    &.small{
        font-size: .8rem;
    }
    &.medium{
        font-size: 1rem;
    }
    &.large{
        font-size: 1.2rem;
    }
    &.bold{
        font-weight: 600;
    }
    &.dark{
        color: #383434;
    }
    &.light{
        color: #fff;
    }
    &.primary{
        color: #56abe4;
    }
    // Tag pre is used to display text in a fixed-width font, and it preserves both spaces and line breaks.
    // Break lines in the text per line
    &.formated{
        white-space: pre-line;
    }
}