.firstDiv{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
    .divValores{
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
    }

    .divValores:nth-child(1){
        border: 1px solid #1E90FF;
        color: #1E90FF;

    }
    .divValores:nth-child(2){
        border: 1px solid #FF8C00;
        color: #FF8C00;
    }
    .divValores:nth-child(3){
            border: 1px solid #FF0000;
        color: #FF0000;

    }
    .divValores:nth-child(4){
            border: 1px solid #00FF00;
        color: #00FF00;
    }
}

.secondDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .barChart{
        background-color:#FFFFFF;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 1rem;
        color: black;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        border: #1E90FF 1px solid;
    }

    .radarChart{
        background-color:#FFFFFF;
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 1rem;
        color: black;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        border: #1E90FF 1px solid;
    }

    .doughnutChart{
        background-color:#FFFFFF;
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 1rem;
        color: black;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        border: #1E90FF 1px solid;
    }

}

