*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

button{
  outline: none;
  border: none;
  background: none;
}
body{
  overflow: hidden;
}

// Grid when each item has the same width and minimum be 300px
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}